@charset "UTF-8";


/*event1_화산귀환*/

.alldiv{
   width: 100%;
   
}

.condiv{

 width: 1400px;
}


.evtimglogo{
/*    background-color:#ff80c0; */
   padding-top: 100px;
   padding-bottom: 100px;
   
   
}

.evtimg{
   /* background-color:pink; */
   border-top: 1px solid #bcbcbc;
   padding-top: 100px;
   padding-bottom: 100px;
}



.endDiv{
   width: 800px;
   padding-top: 100px; 
   border-top: 1px solid #bcbcbc;
}


.endDiv2{
   padding-left: 80px;
}


#txtImg{
    /* background-color:purple; */   
    height:200px;
   display: inline-block;
   float:left;   
}



.txtZone{   
   /* background-color:yellow;  */   
   height:200px;
   display: inline-block;
}

.textareaZone>b{
   font-size: 20px;
}



.textareaZone{
   /* background-color:pink;  */
   height:200;
   border:none;
   margin-top:25px;
   margin-bottom:25px;
   margin-left:10px;
   margin-right:10px;
   resize: none;
   display: inline-block;
}






.Evtlogoimg{
/*    background-color:#ffaaff; */
   padding-top: 100px;
   padding-bottom: 100px;
}

#Evtlogoimg{
   width: 300px;
}




.buyBtn {
 height: 90px;
 width: 400px;
   vertical-align:middle;
  position: relative;
  background-image: linear-gradient(135deg, #890029 0%, #e65983 100%);
 padding-top: 10px;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.15);
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.buyBtn > a {
	text-decoration: none;
}
.buyBtn  span {
	color: white;
  position: relative;
}
.buyBtn::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #ff8bae, transparent);
  transform: translate(-50%, -50%);
  transition: all 0.4s ease, left 0s, top 0s;
}
.buyBtn:hover::before {
  --size: 200px;
  transition: all 0.4s ease, left 0s, top 0s;
}


.eventTop {
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 50px;
    margin-right: 50px;
    margin-bottom:20px;
    font-size: 25px;
    right: 0;
    z-index: 10000;
    margin-left: auto;
    color: #bcbcbc;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.9);
   border: none;
    cursor: pointer;
    outline: 0;
    border-radius: 29px;
    transition: opacity .4s ease,pointer-events .4s ease,transform .4s ease;
}


