@charset "UTF-8";

.nav {
	width: 100%;
	height: 50px;
	border: 1px solid black;
	background-color: black;
}

body {
	margin: 0;
	padding: 0;
}

.wrap {
	width: 700px;
	height: 1100px;
	margin: 0 auto;
/* 	background-color: pink; */
	margin-top: 20px;
}

input {
	/* outline: none; */
	/* border: none; */
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: thin;
	/* 	border-color: #969696; */
	font-size: 17px;
	border-bottom-color: #A9A8A8;
}

input:focus {
	outline: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
	box-shadow: 0 0 0 1000px white inset;
}

p {
	font-size: 13px;
}

.div0 {
	margin-top: 50px;
	width: 100%;
	height: 130px;
	background-color: white;
	position: relative;
}

.line {
	margin-top: 30px;
}

.joinTitle {
	font-size: 45px;
	text-align: center;
	color: #212529;
}

/* id */
.div1 {
	width: 100%;
	height: 80px;
	background-color: white;
	position: relative;
}

.idText {
	position: absolute;
	display: inline-block;
	left: 40px;
	top: 22px;
}

.idIput {
	position: absolute;
	display: inline-block;
	left: 140px;
	top: 10px;
}

.idArea {
	position: absolute;
	width: 500px;
	height: 40px;
	padding-left: 10px;
	/* 	margin: 12px 0px 0px;	 */
}

.idMsg {
	position: absolute;
	top: 53px;
	left: 150px;
}

/* pw  */
.div2 {
	width: 100%;
	height: 80px;
	background-color: white;
	position: relative;
}

.pwText {
	position: absolute;
	display: inline-block;
	left: 40px;
	top: 25px;
}

.pwIput {
	position: absolute;
	display: inline-block;
	left: 140px;
	top: 10px;
}

.pwArea {
	position: absolute;
	width: 500px;
	height: 40px;
	padding-left: 10px;
	top: 10px;
	left: 140px;
	padding-right: 35px;
}

.pwMsg {
	position: absolute;
	top: 53px;
	left: 150px;
}

.pwVisibility {
	position: absolute;
	right: 65px;
	cursor: pointer;
	top: 20px;
}

.pwVisibility_off {
	position: absolute;
	right: 65px;
	cursor: pointer;
	top: 20px;
}

.pwcVisibility {
	position: absolute;
	right: 65px;
	cursor: pointer;
	top: 20px;
}

.pwcVisibility_off {
	position: absolute;
	right: 65px;
	cursor: pointer;
	top: 20px;
}

/*pwc */
.div3 {
	position: relative;
	width: 100%;
	height: 80px;
	background-color: white;
}

.pwcText {
	position: absolute;
	display: inline-block;
	/* 	left: 35px;
	top: 28px; */
	left: 40px;
	top: 22px;
}

.pwcIput {
	position: absolute;
	display: inline-block;
	left: 140px;
	top: 10px;
}

.pwcArea {
	position: absolute;
	width: 500px;
	height: 40px;
	padding-left: 10px;
	top: 10px;
	left: 140px;
	padding-right: 35px;
}

.pwcMsg {
	position: absolute;
	top: 53px;
	left: 150px;
}

/* nickname  */
.div4 {
	width: 100%;
	height: 80px;
	background-color: white;
	position: relative;
}

.nickText {
	position: absolute;
	display: inline-block;
	left: 40px;
	top: 22px;
}

.nickIput {
	position: absolute;
	display: inline-block;
	left: 140px;
	top: 10px;
}

.nickArea {
	position: absolute;
	width: 500px;
	height: 40px;
	padding-left: 10px;
	top: 10px;
	left: 140px;
}

.nickMsg {
	position: absolute;
	top: 53px;
	left: 150px;
}

/* profile */
.div5 {
	position: relative;
	width: 100%;
	height: 200px;
	/* background-color: blue; */
}

.profileText {
	position: absolute;
	display: inline-block;
	top: 80px;
	left: 40px;

}

#profileModalBtn {
	position: absolute;
	left: 30px;
	/* margin-left: 330px; */
}

#profileImgDiv {
	position: absolute;
	width: 150px;
	height: 150px;
	/* background-color: black; */
	border-radius: 50%;
	background-image: url("/resources/img/userDefaultImg.png");
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	left: 150px;
	top: 25px;
	transition: all 2s;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#profileImgDiv:hover {
	transition: all 2s;

}


/* ===모달창부분====  */
#modal { /*검정색배경 전체바탕부분임  */
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: none; /*이걸넣어줘야 맨첨에 안뜸..  */
}

.modalBody {
	width: 750px;
	height: 770px;
	padding: 30px 30px;
	margin: 0 auto;
	border: 1px solid #777;
	/* background-color: #fff; */
	background-color : #212529;
	padding: 0;
	box-sizing: border-box;
	border-radius: 5px;
	
}





.modalTitle {
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
/* 	background-color: black;
	color: white; */
	color: white;
	
	cursor: default;
}

#closeBtn {

	cursor: pointer;
float: right; 
	font-size: 25px;		
	margin-right: 20px;
	
	 display : inline-block;

}

#closeBtn:hover{
	color: #faa307;
}

.wrapper {
	width: 700px;
	height: 600px;
	margin: 0 auto;
	background-color: #212529;
	overflow-y: auto;
	
	-ms-overflow-style:none;
	
}

.wrapper::-webkit-scrollbar { display:none; }

.title {
	width: 400px;
	height: 30px;
	font-size: 16px;
	margin-top: 20px;
	color: white;
	margin-left: 15px;
	font-size: 20px;
	cursor: default;
	
}

.carousel {
	width: 100%;
	height: 150px;
	/* background-color: #93a9d1; */
	margin-top: 20px;
	display: flex;
	/* overflow-x: auto; */
	white-space: nowrap;
	overflow: hidden;
}

.imgLine {
	width: 150px;
	height: 150px;
	/* background-color: #ac7175; */
	border-radius: 50%;
	margin-right: 20px;
	flex-shrink: 0;
	position: relative;
	cursor: pointer;
}

.imgBox {
	width: 150px;
	height: 150px;
	background-color: black;
	border-radius: 50%;
	margin-right: 5px;
	flex-shrink: 0;
	position: relative;
	cursor: pointer;
	/* z-index: 9; */
}

.imgBox:first-child {
	margin-left: 20px;
}

.profile_img {
	vertical-align: middle;
	appearance: none;
}

.carousel2 {
	width: 100%;
	height: 150px;
	/* background-color: #93a9d1; */
	margin-top: 20px;
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	overflow: hidden;
}

.imgBox2 {
	width: 150px;
	height: 150px;
	background-color: #ac7175;
	border-radius: 50%;
	margin-right: 5px;
	flex-shrink: 0;
	cursor: pointer;
}

.imgBox2:first-child {
	margin-left: 20px;
}


/*주술회전  */


.carousel3 {
	width: 100%;
	height: 150px;
	/* background-color: #93a9d1; */
	margin-top: 20px;
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	overflow: hidden;
}

.imgBox3 {
	width: 150px;
	height: 150px;
	background-color: #ac7175;
	border-radius: 50%;
	margin-right: 5px;
	flex-shrink: 0;
	cursor: pointer;
}

.imgBox3:first-child {
	margin-left: 20px;
}

/* 나루토  */

.carousel4 {
	width: 100%;
	height: 150px;
	/* background-color: #93a9d1; */
	margin-top: 20px;
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	overflow: hidden;
}

.imgBox4 {
	width: 150px;
	height: 150px;
	background-color: #ac7175;
	border-radius: 50%;
	margin-right: 5px;
	flex-shrink: 0;
	cursor: pointer;
}

.imgBox4:first-child {
	margin-left: 20px;
}


/* 최애의아이  */

.carousel5 {
	width: 100%;
	height: 150px;
	/* background-color: #93a9d1; */
	margin-top: 20px;
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	overflow: hidden;
}

.imgBox5 {
	width: 150px;
	height: 150px;
	background-color: #ac7175;
	border-radius: 50%;
	margin-right: 5px;
	flex-shrink: 0;
	cursor: pointer;
}

.imgBox5:first-child {
	margin-left: 20px;
}

.carousel6 {
   width: 100%;
   height: 150px;
   /* background-color: #93a9d1; */
   margin-top: 20px;
   display: flex;
   overflow-x: auto;
   white-space: nowrap;
   overflow: hidden;
   
   z-index: 60;
}

.imgBox6 {
   width: 150px;
   height: 150px;
   background-color: #ac7175;
   border-radius: 50%;
   margin-right: 5px;
   flex-shrink: 0;
   cursor: pointer;
   
   z-index: 60;
}

.imgBox6:first-child {
   margin-left: 20px;
}


/*======  */
.imgchoiceBtnArea{
	width: 750px;
	height: 60px;
	/* background-color: black; */
	position: relative;
}

#imgChoiceBtn{
	position: absolute;
	left: 260px; 
	width: 200px;
	height: 50px;
	background-color: white;
	border : 1px solid black;
	color: black;
	bottom: 25px;
}

#imgChoiceBtn:hover{
	border: none;
	background-color: #faa307;
	color: white;
	
}

/* .imgChecked{
	width: 50px;
	height: 50px;
	color: red;
	font-size: 60px !important;
	position: absolute;
	left: 40px;
	z-index: 9;
}

.imgBox:checked{
	border : 50px solid black;
}
 */
/*============================================  */

/* email */
.div6 {
	width: 100%;
	height: 80px;
	background-color: white;
	position: relative;
}

.emailText {
	position: absolute;
	display: inline-block;
	left: 40px;
	top: 16px;
}

.emailInput {
	position: absolute;
	display: inline-block;
	left: 140px;
	top: 5px;
}

.emailArea {
	position: absolute;
	width: 350px;
	height: 40px;
	padding-left: 10px;

	/* left: 10px; */
}

.emailMsg {
	position: absolute;
	top: 51px;
	left: 150px;
}

.emailBtn {
	position: absolute;
	width: 100px;
	height: 50px;
	right: 47px;
	background-color: #BCBCBC;
	border: none;
	border-radius: 4px;
	font-size: 15px;
	color: white;
}

/* .emailBtn:hover{
	background-color: #faa307;
	color: white;
} 
 */
/* 이메일인증 modal */
#emailPopup {
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	animation: fadeIn 0.3s ease-in-out;
}

@
keyframes fadeIn { 0% {
	opacity: 0;
}

100
%
{
opacity
:
1;
}
}
@
keyframes fadeOut { 0% {
	opacity: 1;
}

100
%
{
opacity
:
0;
}
}
.emailPopup_content {
	width: 350px;
	height: 120px;
	padding: 30px 30px;
	margin: 0 auto;
	border: 1px solid #777;
	background-color: #fff;
	padding: 0;
	box-sizing: border-box;
	border-radius: 5px;
	margin-top: 250px;
}

.emailModalTitle {
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	left: 10px;
	margin-top: 40px;
}

.emailCloseBtn {
	border-top: 1px solid #212529;
	cursor: pointer;
	font-size: 25px;
	background-color: #212529;
	color: white;
	height: 50px;
	margin-top: 28px;
	border-radius: 0px 0px 5px 5px;
}

.emailCloseText {
	margin-top: 15px;
}

/* 이메일인증 */
.div7 {
	width: 100%;
	height: 80px;
	background-color: white;
	position: relative;
}

.emailcText {
	position: absolute;
	display: inline-block;
	left: 30px;
	top: 30px;
}

.emailcInput {
	position: absolute;
	display: inline-block;
	left: 140px;
	top: 10px;
}

.emailcArea {
	position: absolute;
	width: 350px;
	height: 40px;
	padding-left: 10px;
}

.emailcMsg {
	position: absolute;
	top: 53px;
	left: 150px;
}

/*birth  */
.div8 {
	width: 100%;
	height: 80px;
	/* background-color: red; */
	position: relative;
	overflow: hidden;
}

.birthText {
	position: absolute;
	display: inline-block;
	left: 40px;
	top: 30px;
}

.birthIput {
	position: absolute;
	display: inline-block;
	left: 140px;
	top: 20px;
}

.birthArea {
	position: absolute;
	width: 200px;
	height: 40px;
	top: 20px;
	left: 140px;
}


input[type='date'] {
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid #A9A8A8;;
	border-radius: 6px;
	font-size: 15px;
}

input[type='date']:focus {
	border: 1px solid #DDDCDC;
	background-color: #DDDCDC;
}

.birthBox {
	width: 400px;
	height: 50px;
	/* background-color: yellow; */
	display: flex;
	position: relative;
	left: 140px;
	top: 15px;
}

.yearDiv {
	width: 100px;
	height: 40px;
	flex-grow: 1;
	position: absolute;
}

.yearBox{
	width: 20px;
}

.yearDiv:after{
	content : "/";
	position: absolute;
	top: 9px;
	left: 93px;
	color: #969696;
	font-weight: bold;
	
}

.birthYear{
	width: 100px;
	height: 40px;
	padding-left: 30px;
}
.monthDiv {
	width: 50px;
	height: 50px;
	flex-grow: 1;
	position: absolute;
 	left: 100px;
}

.monthBox{
	width: 20px;
}

.birthMonth{
	width: 100px;
	height: 40px;
	padding-left: 30px;
}

.monthDiv:after{
	content : "/";
	position: absolute;
	top: 9px;
	left: 93px;
	color: #969696;
	font-weight: bold;
	
}

.dayDiv {
	width: 50px;
	height: 50px;
	flex-grow: 1;
	position: absolute;
 	left: 200px;
}

.dayBox{
	width: 20px;
}

.birthDay{
	width: 100px;
	height: 40px;
	padding-left: 35px;
}


.birthMsg {
	position: absolute;
	top: 62px;
	left: 150px;
}



/*button  */
.div9 {
	width: 100%;
	height: 200px;
	background-color: white;
	position: relative;
}

.signBtn {
	position: absolute;
	width: 250px;
	height: 50px;
	top: 50px;
	left: 50px;
	font-size: 15px;
	border-radius: 4px;
	border: none;
	background-color: #BCBCBC;
	color: white;
	
	
}


.cancleBtn {
	position: absolute;
	width: 250px;
	height: 50px;
	top: 50px;
	right: 50px;
	font-size: 15px;
	border-radius: 4px;
	border: none;
	background-color: #212529;
	color: white;
}


.cancleBtn:active {
	background-color : #212529;
	color: white;
}
